.city-common {
    position: absolute;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: white;
    color: black;
}

.num {
    color: red;
    font-family: 'Lato', sans-serif;

}

/** City Location **/

.seoul {
    top: 200px;
    left: 90px;
}

.incheon {
    top: 250px;
    left: 60px;
}