@import url('https://fonts.googleapis.com/css?family=Exo:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:900|Noto+Sans+KR&display=swap');

* {
    box-sizing: border-box;
}

#root,
body,
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Apple SD Gothic Neo", "Malgun Gothic", 'Nanum Gothic', sans-serif;
}



/** APP COMPONENT **/


a:link,
:visited {
    text-decoration: none;
}

#fixed-bar {
    background-color: #fff;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

#fixed-bar-wrap {
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    display: flex;
    align-items: center;
}



#logo-wrap {
    margin: 10px;
    display: inline-block;
}

#home-link {
    display: flex;
    align-items: center;
}

.logo-img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    display: inline-block;
    color: #0053bf;
    font-family: 'Exo';
    font-size: 20px;
}

#category-wrap {
    display: inline-block;
}

.category {
    font-family: 'Exo';
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
}

.category a:visited {
    color: #0053bf;
    opacity: 0.5;
}

.glow {
    color: #0053bf;
    opacity: 0.5;
    transition: opacity .15s ease-in;
}

.glow:hover,
.glow:focus {
    opacity: 1;
}

footer {
    background-color: #F8F8F8;
    margin-top: auto !important;
    text-align: center;
    position: relative;
    border-top: 1px solid #DBDBDB;
}

.footer-container {
    padding: 20px 0;
    text-align: center;
}

.footer-container a {
    color: #fff;
    margin: 0 10px;
}

.footer-icons {
    text-align: center;
}

.footer-copyright {
    color: #939393;
    font-size: 15px;
}


/** HOME COMPONENT **/


.home-img-section {
    position: relative;
    padding-top: 100px;
    background-color: #193b84;
    color: #fff;
    text-align: center;
    height: 200px;
    background-image: url(./home-img.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200px 200px;
}

h1 {
    font-size: 40px;
    display: inline-block;
    margin: 0 auto;
}

.infection-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.infection-data {
    margin-bottom: 160%;
}

.updatetime {
    color: gray;
    font-size: 15px;
}

.infection-true {
    margin-top: 15%;
    color: red;
    font-size: 20px;
}

.infection-true:after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: 2px solid #bcbcbc;
    margin: 15px auto;
}

.infection-dead {
    color: black;
    margin-top: 10%;
    font-size: 20px;
}

.infection-dead:after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: 2px solid #bcbcbc;
    margin: 15px auto;
}

.infection-false {
    color: green;
    margin-top: 10%;
    font-size: 20px;
}



/** City Location **/

.map {
    display: inline-block;
    position: relative;
    width: 600px;
    height: 750px;
    background-image: url(./korea-map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 700px;
    margin: 50px 0 0 30px;
    font-family: 'Noto Sans KR', sans-serif;
}

.city-common {
    position: absolute;
    height: 50px;
    width: 45px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    color: #494949;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city-common:hover {
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-1.5px);
    background-color: #c4ebff;
}

.num {
    color: red;
    font-family: 'Lato', sans-serif;
}

.quarantine {
    top: 140px;
    left: 60px;
    background-color: #dddddd;
}

.seoul {
    top: 250px;
    left: 155px;
}

.gyeonggi {
    top: 180px;
    left: 140px;
}

.incheon {
    top: 230px;
    left: 50px;
}

.gangwon {
    top: 200px;
    left: 250px;
}

.chungnam {
    top: 360px;
    left: 90px;
}

.chungbuk {
    top: 280px;
    left: 210px;
}

.sejong {
    top: 320px;
    left: 140px;
}

.daejeon {
    top: 350px;
    left: 195px;
}

.jeonbuk {
    top: 430px;
    left: 150px;
}

.jeonnam {
    top: 540px;
    left: 90px;
}

.gwangju {
    top: 520px;
    left: 150px;
}

.gyeongbuk {
    top: 320px;
    left: 325px;
}

.gyeongnam {
    top: 480px;
    left: 240px;
}

.daegu {
    top: 390px;
    left: 310px;
}

.ulsan {
    top: 450px;
    left: 360px;
}

.busan {
    top: 510px;
    left: 330px;
}

.jeju {
    top: 640px;
    left: 90px;
}

.tui-chart-series-custom-event-area {
    display: none;
}

/** TIMESALE COMPONENT **/


.head-section {
    position: relative;
    padding-top: 100px;
    background-color: #193b84;
    color: #fff;
    text-align: center;
    height: 200px;
    margin-bottom: 20px;
}

.head-section-text {
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-7px);
}

.mask-section {
    align-items: center;
    display: flex;
}

.mask-wrap {
    align-items: center;
    border-radius: 8px;
    border: 1px solid #e9ecef;
    width: 60%;
    margin: 20px auto;
    display: inline-flex;
}

.mask-wrap:hover {
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-1.5px);
}

.mask-img {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 30px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    flex: none;
}

.item-details {
    display: inline-block;
}

.item-price {
    color: #0053bf;
}

.item-time {
    color: #d30000;
    align-items: center;
    display: flex;
}

.clock {
    margin-top: 3px;
    margin-right: 5px;
}

.item-sub {
    color: #7a7a7a;
}

.item-timer {
    align-items: center;
    border-radius: 8px;
    width: 30%;
    margin: 30px 10% 30px 0;
    display: inline-flex;
    color: white;
    background-color: red;
}


.item-selling {
    align-items: center;
    border-radius: 8px;
    width: 30%;
    margin: 30px 10% 30px 0;
    display: inline-flex;
    color: white;
    background-color: #19c100;
}

.item-soldout {
    align-items: center;
    border-radius: 8px;
    width: 30%;
    margin: 30px 10% 30px 0;
    display: inline-flex;
    color: white;
    background-color: #3d3d3d;
}

/* OFFICIALSALE COMPONENT*/

.officialsale-body {
    height: 100%;
}

.officialsale-section {
    position: relative;
    padding-top: 100px;
    background-color: #193b84;
    color: #fff;
    text-align: center;
    height: 200px;
}

.officialsale-section-text {
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-7px);
}

.kakao-map-wrap {
    height: 100%;
}

#kakao-map {
    width: 100%;
    height: 100%;
}

.store-label {
    display: inline-block;
    min-width: 40px;
    padding: 3px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
}



.store-label:hover+.store-details {
    opacity: 1 !important;
}

.store-details {
    display: inline-block;
    text-align: left;
    padding: 3px;
    min-width: 200px;
    background-color: #262626;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    transform: translate(-120%, -110%);
    transition: opacity 0.2s;
    opacity: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.text-long {
    font-size: 10px !important;
}


.backbox {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.map-modal {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    width: 510px;
    height: 320px;
    /*translate 효과 줬을때 max,min으로 크기 설정하면 
    텍스트가 blur처리됨. 아직 해결법 못찾음*/
    z-index: 9999;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 10px;
}

.modal-head {
    font-size: 20px;
}

.modal-contents {
    font-size: 13px;
}

.modal-footer {
    font-size: 11px;

}

.btn-agree {
    color: #fff;
    background-color: #0053bf;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    border: none;
    border-radius: 4px;
    float: right;
    cursor: pointer;
}

.date-modal {
    position: fixed;
    top: 220px;
    left: 15px;
    z-index: 9999;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
    font-family: 'Noto Sans KR', sans-serif;
}

.modal-show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-show h4 {
    margin: 5px;
    color: #4f4f4f;
}

.modal-show button {
    display: inline-block;
    height: 25px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #193B84;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}

.modal-hidden {
    display: none;
    border-top: dashed 1px #b7b7b7;
    margin-top: 10px;
}

.birth {
    color: #193B84;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.day-ref {
    color: #a0a0a0;
    font-size: 10px;
    margin: 5px auto 0;
    text-align: center;
}

.day {
    text-align: center;
    font-size: 20px;
    color: #7171ff;
    margin: 0 auto;
}

.birth-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    border: solid 2px;
    border-color: #b7b7b7;
    border-radius: 5px;
    height: 30px;
    margin-top: 5px;
}

.birth-submit {
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #7171FF;
    font-family: 'Noto Sans KR', sans-serif;
}

.modal-hidden p {
    color: #a0a0a0;
    font-size: 10px;
    margin: 5px auto 0;
    text-align: center;
}



/* SUPPORT COMPONENT*/

.waiting {
    width: 100%;
    height: 600px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 600px;
}