@import url('https://fonts.googleapis.com/css?family=Exo:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:900|Noto+Sans+KR&display=swap');

* {
    box-sizing: border-box;
}

#root,
body,
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Apple SD Gothic Neo", "Malgun Gothic", 'Nanum Gothic', sans-serif;
}



/** APP COMPONENT **/


a:link,
:visited {
    text-decoration: none;
}

#fixed-bar {
    background-color: #fff;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

#fixed-bar-wrap {
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    display: flex;
    align-items: center;
}



#logo-wrap {
    margin: 10px;
    display: inline-block;
}

#home-link {
    display: flex;
    align-items: center;
}

.logo-img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    display: inline-block;
    color: #0053bf;
    font-family: 'Exo';
    font-size: 20px;
}

#category-wrap {
    display: inline-block;
}

.category {
    font-family: 'Exo';
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
}

.category a:visited {
    color: #0053bf;
    opacity: 0.5;
}

.glow {
    color: #0053bf;
    opacity: 0.5;
    transition: opacity .15s ease-in;
}

.glow:hover,
.glow:focus {
    opacity: 1;
}

.footer {
    background-color: #dbdbdb;
    margin-top: auto !important;
}



/** HOME COMPONENT **/


.home-img-section {
    position: relative;
    padding-top: 100px;
    background-color: #193b84;
    color: #fff;
    text-align: center;
    height: 200px;
    background-image: url(./home-img.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200px 200px;
}

h1 {
    font-size: 40px;
    display: inline-block;
    margin: 0 auto;
}

.infection-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.infection-data {
    margin-bottom: 100%;
}

.updatetime {
    color: gray;
    font-size: 15px;
}

.infection-true {
    margin-top: 15%;
    color: red;
    font-size: 20px;
}

.infection-true:after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: 2px solid #bcbcbc;
    margin: 15px auto;
}

.infection-dead {
    color: black;
    margin-top: 10%;
    font-size: 20px;
}

.infection-dead:after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: 2px solid #bcbcbc;
    margin: 15px auto;
}

.infection-false {
    color: green;
    margin-top: 10%;
    font-size: 20px;
}



/** City Location **/

.map {
    display: inline-block;
    position: relative;
    width: 500px;
    height: 700px;
    background-image: url(./korea-map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 700px;
    margin-top: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.city-common {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    color: #494949;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
}

.city-common:hover {
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-1.5px);
    background-color: #c4ebff;
}

.cityname {
    position: absolute;
}

.num {
    color: red;
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 20px;
}

.quarantine {
    top: 20px;
    left: 80px;
    width: 65px;
    height: 65px;
    line-height: 50px;
}

.seoul {
    top: 135px;
    left: 145px;
    width: 85px;
    height: 85px;
    line-height: 65px;
}

.gyeonggi {
    top: 43px;
    left: 150px;
    width: 90px;
    height: 90px;
    line-height: 70px;
}

.incheon {
    top: 110px;
    left: 90px;
    width: 55px;
    height: 55px;
    line-height: 40px;
}

.gangwon {
    top: 55px;
    left: 250px;
    width: 55px;
    height: 55px;
    line-height: 40px;
}

.chungnam {
    top: 200px;
    left: 90px;
    width: 65px;
    height: 65px;
    line-height: 50px;
}

.chungbuk {
    top: 170px;
    left: 240px;
    width: 55px;
    height: 55px;
    line-height: 40px;
}

.sejong {
    top: 200px;
    left: 190px;
    width: 55px;
    height: 55px;
    line-height: 40px;
}

.daejeon {
    top: 250px;
    left: 195px;
    width: 55px;
    height: 55px;
    line-height: 40px;
}

.jeonbuk {
    top: 320px;
    left: 130px;
    width: 50px;
    height: 50px;
    line-height: 30px;
}

.jeonnam {
    top: 440px;
    left: 110px;
    width: 50px;
    height: 50px;
    line-height: 30px;
}

.gwangju {
    top: 380px;
    left: 130px;
    width: 55px;
    height: 55px;
    line-height: 30px;
}

.gyeongbuk {
    top: 190px;
    left: 340px;
    width: 100px;
    height: 100px;
    line-height: 80px;
}

.gyeongnam {
    top: 380px;
    left: 240px;
    width: 65px;
    height: 65px;
    line-height: 50px;
}

.daegu {
    top: 255px;
    left: 245px;
    width: 120px;
    height: 120px;
    line-height: 100px;
}

.ulsan {
    top: 340px;
    left: 380px;
    width: 60px;
    height: 60px;
    line-height: 40px;
}

.busan {
    top: 380px;
    left: 330px;
    width: 65px;
    height: 68px;
    line-height: 50px;
}

.jeju {
    top: 610px;
    left: 90px;
    width: 50px;
    height: 50px;
    line-height: 30px;
}



/** TIMESALE COMPONENT **/


.head-section {
    position: relative;
    padding-top: 100px;
    background-color: #193b84;
    color: #fff;
    text-align: center;
    height: 200px;
    margin-bottom: 20px;
}

.head-section-text {
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-7px);
}

.mask-section {
    align-items: center;
    display: flex;
}

.mask-wrap {
    align-items: center;
    border-radius: 8px;
    border: 1px solid #e9ecef;
    width: 60%;
    margin: 20px auto;
    display: inline-flex;
}

.mask-wrap:hover {
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-1.5px);
}

.mask-img {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 30px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    flex: none;
}

.item-details {
    display: inline-block;
}

.item-price {
    color: #0053bf;
}

.item-time {
    color: #d30000;
    align-items: center;
    display: flex;
}

.clock {
    margin-top: 3px;
    margin-right: 5px;
}

.item-sub {
    color: #7a7a7a;
}

.item-timer {
    align-items: center;
    border-radius: 8px;
    width: 30%;
    margin: 30px 10% 30px 0;
    display: inline-flex;
    color: white;
    background-color: red;
}


.item-selling {
    align-items: center;
    border-radius: 8px;
    width: 30%;
    margin: 30px 10% 30px 0;
    display: inline-flex;
    color: white;
    background-color: #19c100;
}

.item-soldout {
    align-items: center;
    border-radius: 8px;
    width: 30%;
    margin: 30px 10% 30px 0;
    display: inline-flex;
    color: white;
    background-color: #3d3d3d;
}

/* OFFICIALSALE COMPONENT*/

.officialsale-body {
    height: 100%;
}

.officialsale-section {
    position: relative;
    padding-top: 100px;
    background-color: #193b84;
    color: #fff;
    text-align: center;
    height: 200px;
}

.officialsale-section-text {
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-7px);
}

.kakao-map-wrap {
    height: 100%;
}

#kakao-map {
    width: 100%;
    height: 100%;
}

.store-label {
    display: inline-block;
    min-width: 40px;
    padding: 3px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
}



.store-label:hover+.store-details {
    opacity: 1 !important;
}

.store-details {
    display: inline-block;
    text-align: left;
    padding: 3px;
    min-width: 200px;
    background-color: #262626;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    transform: translate(-120%, -110%);
    transition: opacity 0.2s;
    opacity: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.text-long {
    font-size: 10px !important;
}


.map-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);
    color: #000;
    max-width: 600px;
    min-height: 250px;
    z-index: 9999;
    font-size: 15px;
    margin-top: -40px;
    align-items: center;
    margin-left: -120px;
    justify-content: center;
    background-color: #fff;
    padding: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.modal-head {
    font-size: 20px;
}

.modal-contents {
    font-size: 13px;
}

.modal-footer {
    font-size: 10px;

}

.btn-agree {
    color: #fff;
    background-color: #0053bf;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15);
    margin-top: 15px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    border: none;
    border-radius: 4px;
    float: right;
    cursor: pointer;
}